absl_py==1.2.0
attr==0.3.2
colorama==0.4.6
dm_sonnet==2.0.0
imageio==2.34.2
librosa
matplotlib
mido
note_seq==0.0.5
numpy
Pillow
pretty_midi==0.2.10
protobuf==4.25.3
PyYAML
Requests
scipy
six
tensorflow
tensorflow_datasets==4.9.6
tensorflow_gan==2.1.0
tensorflow_probability==0.24.0
tf_slim==1.1.0
torch==2.4.0
tqdm
fluidsynth
pyfluidsynth
scikit-learn
transformers
datasets
zlib
attrs